.members_main{
    background: rgba(0,0,0,.90);
   
    min-height: 530px;
    color:white;

    width: 100%;
    margin: 0 auto;
    max-width: 80rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start;
}
.members_header{
    margin: 10px auto;
    display: inline-block;
    position: relative;
    font-family: "Special Elite",cursive;
    font-size: calc(1.01852vw + 12.74px);
    font-weight: 700;
    padding: .5625rem 0;
    border-bottom: 1px solid #2f2f2f;
    clear: both;
    letter-spacing: .1em;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
   
}
.members_header_txt{
    text-align: center;
}
.about_picture_img{
    max-width: 80%;
}
.members_picture_img{
    max-width: 100%;
    max-height: 100%;
}
.members_picture_left{
    float: left;
    max-width: 30%;
    max-height: 50%;
    padding : 20px;
}
.members_picture_right{
    float: right;
    max-width: 30%;
    max-height: 50%;
    padding : 20px;
}
.members_picture_txt{
    position: relative;
    float: left;
    max-width: 50%;
    
}
.members_content{
    padding: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.wrapper{
    display: inline-block;
}