<div class="members_main"> 
    <div class="members_header">
        <h2 class="members_header_txt">Ethna Dióda Zener</h2>
    </div>
    <div class="members_content">
        <div class="members_picture_left">
            <img class="about_picture_img" *ngIf="member_singer_need[0]"  [src]="member_singer[0]"/>
            <img class="about_picture_img" *ngIf="member_singer_need[1]"  [src]="member_singer[1]"/>
            <img class="about_picture_img" *ngIf="member_singer_need[2]"  [src]="member_singer[2]"/>
         </div>
        <p class="members_picture_txt">Ritkán nézelődöm az énekest kereső zenekarok online hirdetései között. Szerencsére egy júniusi vasárnap csendes délelőttjén még 2018-ban felütöttem az egyik portált, és ellapozgattam a srácok hirdetéséig: Budapesten Dream Theater tribute zenekar énekest és basszusgitárost keres.

            Tartottam tőle, hogy már rég találtak valakit, úgyhogy azonnal tárcsáztam. A következő szabad hétvégén már a Finally Free-t és az Endless Sacrifice-t próbáltuk a Stadionnál. Azonnali összhang – a közös lelkesedés azóta is lendületesen mozgatja, viszi előre a csapatot, melynek hatalmas öröm, hogy tagjának mondhatom magam.
            
            Hogy a Dream Theater munkásságával megismerkedni tinédzserként mit jelentett, valószínűleg nem kell bemutassam azoknak, akik e sorokat itt olvassák. 😊 Ugyanők azt is el tudják képzelni, mekkora élmény zenekarral játszani ezeket a dalokat. Azt még mi sem tudjuk elképzelni, pontosan milyen lesz mindez veletek együtt egy-egy klubban vagy fesztiválon. Naná, hogy nagyon várjuk! 😊
            
            Az Images From a Memory-val párhuzamosan jelenleg egy saját dalokat játszó rock zenekarban, az Illicit Passengerben, egy Led Zeppelin és egy Whitesnake tribute zenekarban hallhattok; vendégként előfordultam a Rockstars Not Dead 80s’ Hair Metal projectben, és talán akadnak páran, akik a Saffron – A Taste of Krokus vagy a Goddhard zenekarokra emlékeznek.
            
            Régóta vágyakoztam a prog metal iránti rajongásomnak is hangot adni énekesként, fantasztikus, hogy megtalált ez a lehetőség!</p>
 
    </div>
    <div class="members_header">
        <h2 class="members_header_txt">Bartók Gábor</h2>
    </div>
    <div class="members_content">
        <div class="members_picture_right">
            <img class="about_picture_img" *ngIf="member_gabor_need[0]"  [src]="member_gabor[0]"/>
            <img class="about_picture_img" *ngIf="member_gabor_need[1]"  [src]="member_gabor[1]"/>
            <img class="about_picture_img" *ngIf="member_gabor_need[2]"  [src]="member_gabor[2]"/>
         </div>
        <p class="members_picture_txt">"Pár évvel ezelőtt költöztem Budapestre és egy alkalommal Krisztiánnal és Larionnal egy jó kis sörözés közben felvetődött a kérdés, hogy mi lenne, ha csinálnánk egy közös projektet. Pár közös próba után kialakult a koncepció is, történetesen, hogy szeretnénk létrehozni egy Dream Thetater tribute zenekart.

        Legnagyobb örömömre csatlakozott hozzánk Ethna, mint énekes, illetve Zsolt (bass) is, így teljes lett a csapatunk.
        
        Már gyermekkoromban elbűvölt a gitár hangja, de csak 17 éves koromban kezdtem igazán komolyan tanulni ezen a hangszeren. Körülbelül 5 év tanulás és gyakorlás után lettem tagja az első zenekarnak, ami egy progresszív metál banda volt. Ebben a zenekarban ismerkedtem meg és barátkoztam össze Larionnal, akivel több évig zenéltem együtt.
        
        A progmetál zenekar után egy dallamos metál zenekarban gitároztam, ahol tevékenyen részt vettem a számok megírásában is. Ezzel a zenekarral is hosszú évekig játszottam együtt és sok nagyon emlékezetes koncertet éltem át. Ez időszakban, jó pár évig (és azóta is) zenéltem (zenélek) együtt Krisztiánnal, akit szintén nagyon jó barátomnak tekintek.
        
        A jövőben szeretnék hozzájárulni a csapatunk céljainak megvalósításához: a lehető legjobban visszaadni a Dream Theater élményt a színpadról."</p>
      
   
    </div>
    <div class="members_header">
        <h2 class="members_header_txt">Gazsó Krisztián</h2>
    </div>
    <div class="members_content">
        <div class="members_picture_left">
            <img class="about_picture_img"  *ngIf="member_krisz_need[0]" [src]="member_krisz[0]"/>
            <img class="about_picture_img"  *ngIf="member_krisz_need[1]" [src]="member_krisz[1]"/>
            <img class="about_picture_img"  *ngIf="member_krisz_need[2]" [src]="member_krisz[2]"/>
         </div>
        <p class="members_picture_txt">"Nagyjából 3 éves lehettem, mikor Édesapám beültetett a dobja mögé.

            Elsírtam magam… 😄
            
            Akkor még senki sem gondolta, hogy „ebből a gyerekből dobos lesz”. A sors fintora, hogy ahogy cseperedtem, úgy kezdett egyre jobban érdekelni a „Csovi-Csovi Jasper” helyett a keményebb, technikásabb zene, és azon belül a dobolás. Fogalmam sem volt, hogy néz ki, fogalmam sem volt, hogy milyen technikákat használnak, semmit sem tudtam róla, csak azt, hogy nagyon érdekel, hogyan kell ritmust játszani.
            
            Aztán egy nap megkértem Apámat, hogy mutasson egy ütemet az asztalon. Na, itt kezdődött minden… 😊
            
            Naphosszat gyakoroltam, tanultam a függetlenítéseket, és hallgattam a jobbnál jobb dobosokat, hogy mit, és hogyan csinálnak. 2003-ban alapítottuk két korombeli barátommal az első zenekaromat, aminek Damage Inc. volt a neve. Az akkori tagok azóta is barátaim. 😊
            
            2010-ben alapítottuk meg a Wake On Burial nevű zenekart (metalcore), utána csatlakoztam az Out Of Memory (dallamos death metal) zenekarhoz, itt találkoztam először Bartók Gáborral, aki azóta is jó barátom és zenésztársam.
            
            Mindig is nagy hatással volt a dobolási stílusomra Richard Christy (ex-Death), Winnie Paul (Pantera), Mike Portnoy (ex Dream Theater), Paul Bostaph (Slayer).
            
            A Dream Theater iránti tengermély tiszteletem és csodálatom azóta tart, mióta először hallottam tőlük egy dalt (ez a Change Of Seasons volt). Leesett állal bámultam magam elé, hogy hogy lehet ennyire bonyolult, és komplex zenét játszani, és hogy hogyan képesek ennyi mindent megjegyezni. 😊
            
            Sokszor álmodoztam róla, hogy egyszer Dream Theatert fogok játszani, és meglesz hozzá a hangszeres tudásom, hogy meg tudjam érteni, és el is tudjam játszani Mike Portnoy dobtémáit.
            
            Nagyon boldog vagyok, hogy meg tudtam valósítani ezt az álmomat, és hogy egy ilyen remek zenészekből álló, összetartó csapat tagja lehetek."
            </p>
        
    </div>
    <div class="members_header">
        <h2 class="members_header_txt">Oláh Larion</h2>
    </div>
    <div class="members_content">
        <div class="members_picture_right">
            <img class="about_picture_img" *ngIf="member_larion_need[0]"  [src]="member_larion[0]"/>
            <img class="about_picture_img" *ngIf="member_larion_need[1]"  [src]="member_larion[1]"/>
            <img class="about_picture_img" *ngIf="member_larion_need[2]"  [src]="member_larion[2]"/>
         </div>
        <p class="members_picture_txt">"6 éves koromban az osztályteremben a Tesla hangszóró bemondta, hogy lehet jelentkezni zenei általánosba. Jó ötletnek tűnt, és azóta kisebb megszakításokkal folyamatosan zenélek.

            Black metal (Frost), prog metal (Mytra Bartók Gabival karöltve), majd Budapesten jazz szakközép, rhythm and blues (Free Road Gang), funky (Superfly), és el is érkeztünk a sörözéshez ahol az Images From a Memory megalakult.
            
            Azért választottuk a Dream Theater-t, mert mindannyiunknak egy olyan gyerekkori szerelem, ami máig tart. Bízom benne, hogy ez a zenekar sokáig fog működni, mert nagy élmény és nagy kihívás."/p>
      
    </div>
    <div class="members_header">
        <h2 class="members_header_txt">Fűzvölgyi Zsolt</h2>
    </div>
    <div class="members_content">
        <div class="members_picture_left">
            <img class="about_picture_img" *ngIf="member_zsolt_need[0]"  [src]="member_zsolt[0]"/>
            <img class="about_picture_img" *ngIf="member_zsolt_need[1]"  [src]="member_zsolt[1]"/>
            <img class="about_picture_img" *ngIf="member_zsolt_need[2]"  [src]="member_zsolt[2]"/>
         </div>
        <p class="members_picture_txt">"Körülbelül 17 éves korom óta zenélek. Először gitáron kezdtem, főleg heavy metal, thrash zenekarokban játszottam ritmusgitáros poszton. Később a korral jött a hard rock és egy kis blues. Úgy négy éve kértem kölcsön egy basszusgitárt kíváncsiságból, és teljesen magával ragadott. Rövid ideig párhuzamosan jelen volt mindkét hangszer az életemben, de mostanra teljesen egyeduralkodóvá vált a basszus.

            Jelenleg két zenekarban játszom, egy instrumentális jazz-rock bandában és az Images From a Memory-ban. 2019 nyarán keresett meg Krisztián, hogy volna-e kedvem velük játszani a bandában. Nagy megtiszteltetés nekem ilyen jó zenészekkel és jó emberekkel együtt játszani és persze hatalmas kihívás is."</p>
       
    </div>
    
</div>

