<div class="about_main"> 
    <div class="about_header">
        <h2 class="about_header_txt">About us</h2>
    </div>
    <div class="about_content">
        <div class="about_picture">
           <img class="about_picture_img" *ngIf="aboutPicture_1_need[0]" [src]="aboutPicture_1[0]"/>
           <img class="about_picture_img" *ngIf="aboutPicture_1_need[1]" [src]="aboutPicture_1[1]"/>
           <img class="about_picture_img" *ngIf="aboutPicture_1_need[2]" [src]="aboutPicture_1[2]"/>
        </div>
        
            <p class="about_picture_txt">********** TÚL AZ 500. KÖVETŐN! **********</p>
            <p class="about_picture_txt">    🤘😎👍Kevesebb, mint három héttel az oldal indulása után több, mint 500 fős a követői bázis!🤘😎👍 </p>  
            <p class="about_picture_txt">    Az Images From a Memory tagsága ezúton is köszöni az érdeklődést, ami jól tudjuk, elsősorban a Dream Theater zenekar érdeme. Számunkra már a próbák hatalmas élményt jelentenek, és alig várjuk, hogy színpadra vihessük a műsort!</p>   
            <p class="about_picture_txt">    Sejtjük, Ti mennyire kíváncsiak vagytok arra, mire jutunk a magunkra vállalt feladattal! 😄 </p>            
            <p class="about_picture_txt">     Szeretnénk és igyekszünk országszerte a legtöbb helyre eljutni, koncertszervezés ügyben elérhetőek vagyunk az imagesfromamemoryofficial@gmail.com címen és a +36-30/701-5773 telefonszámon.</p>
    </div>
    
</div>
