<div class="about_main"> 
    <div class="about_header">
        <h2 class="about_header_txt">About us</h2>
    </div>
    <div class="about_content">
        <div class="about_picture">
           <img class="about_picture_img"  [src]="aboutPicture_1"/>
        </div>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
        <p class="about_picture_txt">Teszt szöveg ashdashdasdhasdhaiusdhiashdaisuhd</p>
    </div>
</div>
