
<mat-card md-theme="default">
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" ngModel name="newPostTitle" #title="ngModel" required minlength="3"/>
            <mat-error *ngIf="title.invalid"> Please give a correct title </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" ngModel name="newPost" #content="ngModel" required minlength="3"></textarea>
            <mat-error *ngIf="content.invalid"> Please give a correct message </mat-error>
        </mat-form-field>
        <br/>
        <button color="primary" type="submit"  mat-raised-button>Save post</button>
    </form>
</mat-card>




