<footer ngClass="footer-distributed">
 
  <div ngClass="footer-left">

  <h3>WebDev<span>Trick</span></h3>

  <p ngClass="footer-links">
  <a href="#">Home</a>
·
  <a href="#">Blog</a>
·
  <a href="#">Pricing</a>
·
  <a href="#">About</a>
·
  <a href="#">Faq</a>
·
  <a href="#">Contact</a>
  </p>

  <p ngClass="footer-company-name">Péter Székely &copy; 2019</p>
  </div>

  <div ngClass="footer-center">

  <div>
  <i ngClass="fa fa-map-marker"></i>
  <p><span>6 Móricz Zsigmond tér</span> Kazincbarcika, Hungary</p>
  </div>

  <div>
  <i ngClass="fa fa-phone"></i>
  <p>+06 (30) 186 35 95</p>
  </div>

  <div>
  <i ngClass="fa fa-envelope"></i>
  <p><a href="mailto:support@company.com">szekelypeti05@gmail.com</a></p>
  </div>

  </div>

  <div ngClass="footer-right">

  <p ngClass="footer-company-about">
  <span>About the company</span>
Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
  </p>

  <div ngClass="footer-icons">

  <a href="#"><i ngClass="fa fa-facebook"> <img [src]="facebook_icon"> </i></a>
  <a href="#"><i ngClass="fa fa-insta">  <img [src]="insta_icon"></i></a>
  <a href="#"><i ngClass="fa fa-linkedin"> <img [src]="linkin_icon" /> </i></a>
  <a href="#"><i ngClass="fa fa-github"><img [src]="github_icon" /></i></a>

  </div>

  </div>

  </footer>
