mat-card{
    margin-top: 1rem;
    margin-left: 10%;
    width: 90%;
    float: left;
    background-color: rgb(255, 255, 255, 0.70);
    border-bottom-right-radius: 0;
}
img{
    max-width: 50%;
}
.card_wraper{
    display: inline-block;
    width: 48%;
}
.right{
    float: right;
}
.left{
    float: left;
    margin-left: 10px;
    width: 40%;
}
.desc_p{
    max-width: 100%;
    display: block;
    overflow-wrap: break-word;
}
.button_wraper{
    opacity: 0.70 ;
    background-color: white;
    float: right;
    bottom: 0;
    min-width: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
}
.button_wraper:before {
    content: "";
   
    top: -60px;
    right: -60px;
    height: 100px;
    width: 100px;
    background: green;
    border: 5px solid dimgray;
    transform: rotate(45deg);
  }
